<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>

    <add name="NorthwindConnectionString" connectionString="Server=.; Database=NORTHWND; User Id=sa; Password=1;" providerName="System.Data.SqlClient" />

  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="KellermanSoftware.Compare-Net-Objects" publicKeyToken="d970ace04cc85217" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ApplicationName" value="Northwind-Application" />
    <add key="WebApplicationName" value="Northwind-Web-Application" />
    <add key="WebLogDirectory" value="C:/NorthwindApp/Logs-Web/" />
    <add key="WebExceptionsLogDirectory" value="C:/NorthwindApp/Logs-Web-Exceptions/" />
    <add key="AppLogDirectory" value="C:/NorthwindApp/Logs-App/" />
    <add key="AppExceptionsLogDirectory" value="C:/NorthwindApp/Logs-App-Exceptions/" />
  </appSettings>
</configuration>