<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NorthwindConnectionString" connectionString="Server=.; Database=NORTHWND; User Id=sa; Password=1;" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <appSettings>
    <add key="ApplicationName" value="Northwind-Application"/>
    <add key="WebApplicationName" value="Northwind-Web-Application"/>
    <add key="WebLogDirectory" value="C:/NorthwindApp/Logs-Web/"/>
    <add key="WebExceptionsLogDirectory" value="C:/NorthwindApp/Logs-Web-Exceptions/"/>
    <add key="AppLogDirectory" value="C:/NorthwindApp/Logs-App/"/>
    <add key="AppExceptionsLogDirectory" value="C:/NorthwindApp/Logs-App-Exceptions/"/>
  </appSettings>
</configuration>